[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/elnrnag
[access "refs/for/refs/*"]
	read = group user/elnrnag
	push = group user/elnrnag
	label-Code-Review = -2..+2 group user/elnrnag
	label-Verified = -1..+1 group user/elnrnag
	rebase = group user/elnrnag
	removeReviewer = group user/elnrnag
	submit = group user/elnrnag
[access "refs/heads/*"]
	read = group user/elnrnag
	create = group user/elnrnag
	push = +force group user/elnrnag
	pushMerge = group user/elnrnag
[access "refs/tags/*"]
	push = +force group user/elnrnag
	pushTag = group user/elnrnag
	pushSignedTag = group user/elnrnag
